name: CD Mock

on:
  workflow_dispatch:

jobs:
  create-docker-image:
    name: Docker Deployment Mock
    uses: ./.github/workflows/create-docker-image-debug.yml
    permissions:
      contents: write
    secrets:
      CI4_DOCKERHUB_USERNAME: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
      CI4_DOCKERHUB_TOKEN: ${{ secrets.CI4_DOCKERHUB_TOKEN }}
