name: CD

on:
  push:
    tags:
      - '**'
      - '!v*'

jobs:

  check-tag-version-job:
    name: Check Release Tag
    uses: ./.github/workflows/check-release-tag.yml
    permissions:
      contents: read

  cd-job:
    needs: [ check-tag-version-job ]
    name: Continuous Delivery
    uses: ./.github/workflows/build-and-publish.yml
    permissions:
      contents: write
    secrets:
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

  publish-docs:
    needs: [ cd-job ]
    name: Publish Documentation
    uses: ./.github/workflows/gh-pages.yml
    permissions:
      contents: read
      pages: write
      id-token: write

  create-docker-image:
    needs: [ check-tag-version-job ]
    name: Docker Deployment
    uses: ./.github/workflows/create-docker-image.yml
    permissions:
      contents: write
    secrets:
      CI4_DOCKERHUB_USERNAME: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
      CI4_DOCKERHUB_TOKEN: ${{ secrets.CI4_DOCKERHUB_TOKEN }}
