name: Create Docker Image

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-and-push:
    runs-on: ubuntu-24.04

    steps:
    - name: SCM Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Build
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
        password: ${{ secrets.CI4_DOCKERHUB_TOKEN }}

    - name: Build and push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.CI4_DOCKERHUB_USERNAME }}/exasol-mcp-server:latest
