name: Slow-Checks-SaaS

on:
  workflow_call:

jobs:

  build-matrix:
    name: Generate Build Matrix
    uses: ./.github/workflows/matrix-all.yml
    permissions:
      contents: read

  Tests:
    name: SaaS-Integration-Tests (Python-${{ matrix.python-version }}, Exasol-${{ matrix.exasol-version}})
    needs: [ build-matrix ]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.build-matrix.outputs.matrix) }}

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v5

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Tests and Collect Coverage
        env:
          SAAS_HOST: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_HOST }}
          SAAS_ACCOUNT_ID: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_ACCOUNT_ID }}
          SAAS_PAT: ${{ secrets.INTEGRATION_TEAM_SAAS_STAGING_PAT }}
        run: poetry run -- nox -s test:integration -- -s --coverage --db-version ${{ matrix.exasol-version }} --backend=saas

      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: coverage-python${{ matrix.python-version }}-exasol${{ matrix.exasol-version}})-saas
          path: .coverage
          include-hidden-files: true
